<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="thuchanhdangnhap.Properties.Settings.QLSVConnectionString"
            connectionString="Data Source=DESKTOP-PKD82K6;Initial Catalog=QLSV;Persist Security Info=True;User ID=sa;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>